@page "/logs"
@attribute [Authorize]

<h3>Logs</h3>

<p>Records: @currentCount</p>

<div>
    <button class="btn btn-primar" @onclick="@(()=>HandleRowClick(11))">Click me</button>
</div>

@if (Show)
{

    <div class="pop-container">
        <div class="popconfirm">
            <h4>Log Details</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Details != null)
                    {
                        @foreach (var detail in Details.Values)
                        {
                            <tr>
                                <td>@detail.Item1</td>
                                <td>@detail.Item2</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <button type="button" class="btn btn-primary" @onclick="() => Confirmation()">Close</button>
        </div>


    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Source</th>
            <th>TimeStamp</th>
            <th>Log Level</th>
            <th>Message</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var logMessage in logMessages)
        {
            <tr>
                <td>@logMessage.Id</td>
                <td>@logMessage.Source</td>
                <td>@logMessage.TimeStamp.ToLongTimeString()</td>
                <td>@logMessage.LogLevel</td>
                <td>@logMessage.Message</td>
                <td><button class="btn btn-primary" @onclick="@(()=>HandleRowClick(logMessage.Id))">Details</button></td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected LogDetails LogDetailsComponent;

    private EnderPi.Framework.DataAccess.LogDataAccess logDataAccess = new EnderPi.Framework.DataAccess.LogDataAccess("Server=localhost;Integrated Security = SSPI; Database=PangolinDev;Trusted_Connection=True;");

    private int currentCount = 0;

    private EnderPi.Framework.Logging.LogMessage[] logMessages;

    private bool Show { set; get; }

    public EnderPi.Framework.Logging.LogDetails Details { set; get; }

    protected override Task OnInitializedAsync()
    {
        RefreshCount();
        return base.OnInitializedAsync();
    }

    private void RefreshCount()
    {
        currentCount = logDataAccess.GetCurrentCount();
        logMessages = logDataAccess.GetTopLogMessages(10);
    }

    private void HandleRowClick(long logId)
    {
        currentCount++;
        Details = logDataAccess.GetLogDetails(logId);
        Show = true;
        //show that pop-up with the key-value pairs.

    }

    public void Confirmation()
    {
        Show = false;
    }

}

