@page "/logs"
@attribute [Authorize]
@inject EnderPi.Framework.DataAccess.LogDataAccess logDataAccess

<h3>Logs</h3>

<p>Records: @currentCount</p>

<EditForm Model="SearchModel">
    <table>
        <tr>
            <td>Source:</td>
            <td><InputText @bind-Value="SearchModel.Source" /></td>
        </tr>

        <tr>
            <td>Begin Date:</td>
            <td><input type="datetime" @bind="SearchModel.BeginTime" /></td>
        </tr>

        <tr>
            <td>End Date:</td>
            <td><input type="datetime" @bind="SearchModel.EndTime" /></td>
        </tr>                
    </table>
</EditForm>
<p>
    <button type="button" class="btn btn-primary" @onclick="SearchLogs">Search</button>
</p>

@if (Show)
{
    <div class="pop-container">
    <div class="popconfirm">
        <h4>Log Details</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @if (Details != null)
                    {
                @foreach (var detail in Details.Values)
                        {
                <tr>
                    <td>@detail.Item1</td>
                    <td>@detail.Item2</td>
                </tr>
                        }
                    }
            </tbody>
        </table>

        <button type="button" class="btn btn-primary" @onclick="() => ClosePopup()">Close</button>
    </div>
</div>
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Source</th>
            <th>TimeStamp</th>
            <th>Log Level</th>
            <th>Message</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var logMessage in logMessages)
        {
            <tr>
                <td>@logMessage.Id</td>
                <td>@logMessage.Source</td>
                <td>@logMessage.TimeStamp.ToString("g")</td>
                <td>@logMessage.LogLevel</td>
                <td>@logMessage.Message</td>
                <td><button class="btn btn-primary" @onclick="@(()=>HandleRowClick(logMessage.Id))">Details</button></td>
            </tr>
        }
    </tbody>
</table>

@code {

    private LogViewer.Models.LogSearchModel SearchModel = new Models.LogSearchModel() { BeginTime = DateTime.Now, EndTime = DateTime.Now };

    private int currentCount = 0;

    private EnderPi.Framework.Logging.LogMessage[] logMessages;

    private bool Show { set; get; }

    public EnderPi.Framework.Logging.LogDetails Details { set; get; }

    protected override Task OnInitializedAsync()
    {
        RefreshCount();
        return base.OnInitializedAsync();
    }

    private void RefreshCount()
    {
        currentCount = logDataAccess.GetCurrentCount();
        logMessages = logDataAccess.GetTopLogMessages(10);
    }

    private void HandleRowClick(long logId)
    {
        currentCount++;
        Details = logDataAccess.GetLogDetails(logId);
        Show = true;
    }

    public void ClosePopup()
    {
        Show = false;
    }

    public void SearchLogs()
    {
        //TODO validation
        logMessages = logDataAccess.SearchLogMessages(SearchModel.Source, SearchModel.BeginTime, SearchModel.EndTime);
    }

}

